:root {
  --card-bg: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] {
  --card-bg: rgba(255, 255, 255, 0.2);
}

/* 禁用侧边栏头像鼠标悬停旋转 */
.avatar-img img,
.avatar-img img:hover,
.avatar-img:hover img {
  transform: none !important;
  -webkit-transform: none !important;
  transition: filter 375ms ease-in .2s !important;
  animation: none !important;
}
